* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  font-size: 62.5%; }

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1rem solid #eaeaea;
  padding: 0.6rem 0; }
  header .iconfont {
    font-size: 1.4rem;
    color: #999999; }
  header div:nth-of-type(1) {
    width: 30%; }
    header div:nth-of-type(1) img {
      width: 80%;
      margin-left: 1rem; }
  header div:nth-of-type(2) {
    width: 40%;
    font-size: 1.4rem;
    text-align: center; }
  header div:nth-of-type(3),
  header div:nth-of-type(4) {
    margin-left: 1rem; }

section .list1 {
  display: flex;
  padding: 1rem 0.5rem; }
  section .list1 li:nth-of-type(1) {
    width: 40%; }
    section .list1 li:nth-of-type(1) img {
      width: 100%; }
  section .list1 li:nth-of-type(2) {
    margin-left: 0.5rem; }
    section .list1 li:nth-of-type(2) p {
      line-height: 2rem; }
    section .list1 li:nth-of-type(2) p:nth-of-type(1) {
      font-size: 1.6rem; }
    section .list1 li:nth-of-type(2) p:nth-of-type(2) {
      color: #999; }
      section .list1 li:nth-of-type(2) p:nth-of-type(2) span {
        color: #FF4351; }
    section .list1 li:nth-of-type(2) p:nth-of-type(3) span {
      color: #999; }
    section .list1 li:nth-of-type(2) p:nth-of-type(4) {
      color: #999; }
      section .list1 li:nth-of-type(2) p:nth-of-type(4) span {
        color: #FF4351; }
section .zi {
  padding: 0 0.5rem;
  padding-bottom: 0.4rem;
  line-height: 2rem;
  border-bottom: 1rem solid #eaeaea; }
section .list2 {
  display: flex;
  padding: 0 0.2rem; }
  section .list2 li {
    width: 25%;
    text-align: center;
    padding: 1rem 0; }
  section .list2 li:nth-of-type(2) {
    border-bottom: 2px solid #39C894; }
section .list3 {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0; }
  section .list3 li {
    padding: 0.2rem 0.4rem;
    border: 1px solid #39C894;
    border-radius: 0.8rem; }
section table {
  border-color: #dcdcdc;
  border: 1px solid #DCDCDC;
  color: #999; }
  section table tr:nth-of-type(1) {
    color: #39C894; }
  section table tr td {
    padding: 0.3rem 0; }
  section table tr td:nth-of-type(1) {
    width: 25%;
    text-align: center; }
  section table tr td:nth-of-type(2) {
    width: 20%;
    text-align: center; }
  section table tr td:nth-of-type(3) {
    width: 70%;
    text-align: center; }
section .kong {
  width: 100%;
  height: 0.8rem;
  background: #eaeaea;
  margin: 1rem 0; }
section .z {
  border-top: 0.7rem solid #eaeaea;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-indent: 2rem;
  clear: both; }
section .kf {
  color: #39C894;
  font-size: 1.4rem;
  text-align: center; }
  section .kf span {
    color: #333; }
section .f {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  margin-top: 1rem; }
  section .f span:nth-of-type(1) {
    color: #39C894; }
section .fan {
  position: relative; }
  section .fan .iconfont {
    color: #9c9c9c;
    font-size: 5rem;
    margin-left: 5rem;
    position: absolute;
    right: 1.2rem;
    top: -4rem;
    background: #fff; }

footer .ma {
  width: 100%;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  background: #FF4351;
  font-size: 1.4rem; }
  footer .ma i {
    color: #fff; }
footer .zu {
  width: 100%; }
  footer .zu img {
    width: 100%; }

/*# sourceMappingURL=index15.css.map */
