* {
  margin: 0;
  padding: 0;
  list-style: none; }

.header {
  width: 3.75rem;
  height: 0.51rem;
  border-bottom: 1px solid #999999; }
  .header .div1 {
    float: left; }
    .header .div1 img {
      width: 1.07rem;
      height: 0.36rem;
      margin-top: 0.08rem;
      margin-left: 0.09rem; }
  .header .liuc {
    float: left;
    font-size: 0.18rem;
    line-height: 0.51rem;
    margin-left: 0.5rem; }
  .header .div2 {
    float: right;
    margin-right: 0.09rem; }
    .header .div2 ul li {
      float: left;
      color: #999999;
      width: 50%;
      height: 0.225rem;
      line-height: 0.225rem;
      text-align: center;
      margin-top: 0.08rem; }
      .header .div2 ul li .icon-user {
        font-size: 0.225rem; }
      .header .div2 ul li .icon-nav {
        font-size: 0.165rem; }
    .header .div2 ul li:nth-child(1) {
      margin-left: -0.165rem; }
    .header .div2 ul li:nth-child(2) {
      margin-left: 0.165rem; }
    .header .div2 ol li:nth-child(1) {
      margin-left: -0.165rem; }
    .header .div2 ol li:nth-child(2) {
      margin-left: 0.165rem; }
    .header .div2 ol li {
      float: left;
      color: #999999;
      width: 50%;
      text-align: center;
      margin-top: -0.02rem; }

.tu {
  width: 3.75rem; }
  .tu img {
    width: 100%; }

.pingl {
  width: 3.75rem;
  margin-top: 0.2rem; }
  .pingl ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 0.12rem; }
    .pingl ul li {
      width: 50%;
      text-align: center; }
      .pingl ul li div {
        width: 0.5rem;
        height: 0.5rem;
        border: 1px solid #39C894;
        color: #39C894;
        border-radius: 50px;
        margin-left: 0.6875rem; }

.pingl ul:nth-child(1) li {
  line-height: 0.5rem; }
  .pingl ul:nth-child(1) li i {
    font-size: 0.29rem; }

.sao {
  width: 3.75rem;
  background-color: #EAEAEA; }
  .sao img {
    width: 33%;
    margin-left: 33%;
    margin-top: 0.125rem; }
  .sao h1 {
    font-size: 0.18rem;
    text-align: center;
    margin-top: 0.125rem;
    padding-bottom: 0.225rem; }

.kon1 {
  width: 3.75rem;
  height: 0.09rem;
  background-color: #eaeaea;
  margin-top: 0.18rem; }

.text {
  width: 3.75rem; }
  .text p {
    text-indent: 2em;
    font-size: 0.14rem;
    color: #333;
    margin-left: 0.18rem;
    margin-right: 0.18rem; }

.footer {
  width: 3.75rem; }
  .footer ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .footer .phone {
    margin-left: 26%; }
    .footer .phone i {
      font-size: 0.16rem;
      color: #39C894; }
    .footer .phone p {
      font-size: 0.14rem; }
  .footer .xuanx {
    border-bottom: 1px solid #EAEAEA; }
    .footer .xuanx li {
      width: 25%;
      text-align: center;
      font-size: 0.14rem; }
  .footer .xuanx li:nth-child(1) {
    color: #39C894; }

.ddb {
  width: 0.47rem;
  height: 0.47rem;
  border: 1px solid #dedede;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  left: 3.15rem;
  top: 90%;
  background: white;
  z-index: 2000; }
  .ddb a {
    text-align: center;
    width: 0.2rem;
    color: #9c9c9c;
    line-height: 0.47rem; }

.hao {
  width: 3.75rem; }
  .hao p {
    width: 100%;
    text-align: center;
    font-size: 0.12rem;
    color: #999999; }

/*# sourceMappingURL=new_file.css.map */
