@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    font-size: 62.5%;
    font-family: "微软雅黑";
}
header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .iconfont {
        font-size: 2.3rem;
        color: #999999;
    }
    div:nth-of-type(1) {
        width: 30%;
        img {
            width: 80%;
            margin-left: 1rem;
        }
    }
    div:nth-of-type(2) {
        width: 40%;
        font-size: 2.2rem;
        text-align: center;
    }
    div:nth-of-type(3){
        margin-left: 1rem;
    }
}
section{
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    .banner{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .fang{
        width: 90%;
        background: #F4F4F4;
        padding: 0.5rem;
        font-size: 1.5rem;
        margin: 0.8rem auto;
    }
    .zx{
        width: 98%;
        border-bottom: 1px solid #EAEAEA;
        font-size: 1.8rem;
        text-align: center;
        p{
            margin: 0.5rem 0;
        }
        p:nth-of-type(2){
            font-size: 1.2rem;
            color: #999;
        }
    }
    .list{
        padding: 0 0.2rem;
        margin: 1rem 0;
        li{
            width: 22%;
            padding: 0.1rem;
            border: 1px solid #eaeaea;
            color: #999; 
            border-radius: 0.2rem;
            float: left;
            margin: 0.5rem 0.2rem;
        }
    }
    .dy{
        text-indent: 2rem;
        line-height: 2rem;
        clear: both;
        padding: 0 0.3rem;
    }
    .wrap{
        position: relative;
        .tu{
        width: 80%;
        margin: 1rem auto;
        img{
            width: 100%;
        }
    }
    .dian{
        width: 90%;
        padding: 0.5rem 0;
        border: 1px solid #39C894;
        border-radius: 0.2rem;
        text-align: center;
        margin: 0.2rem auto;
        color: #39C894;
    }
    .div {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        padding: 1rem 0;
        margin-left: 8rem;
        .iconfont {
            font-size: 3rem;
            color:  #39c894
        }
        div {
            width: 25%;
            padding-top: 1rem;
            i {
                padding: 1rem;
                border-radius: 50%;
                border:2px solid  #39c894;
            }
            p{
                font-size: 1.4rem;
                font-family: "微软雅黑";
                margin-top: 1rem;
            }
        }
         div:nth-of-type(1){
                i{
                    color: #1B9AF7;
                }
                p{
                    color: #1B9AF7;
                }
            }
            div:nth-of-type(2){
                color: #FEB505;
            }
    }
    .zhe{
        position: absolute;
        top: 8rem;
        left: 0.7rem;
        width: 96%;
        padding-top: 2rem;
        background: rgba(0,0,0,0.8);
        border-radius: 0.2rem;
        padding-bottom: 0.5rem;
        ul{
            display: flex;
            justify-content: space-around;
            font-size: 1.6rem;
            i{
                font-size: 7rem;
            }
            li:nth-of-type(1){
                color: #FF0000;
            }
            li:nth-of-type(2){
                color: #1B9AF7;
            }
            li:nth-of-type(3){
                color: #FEB605;
            }
            p{
                text-align: center;
                color: #fff;
                font-size: 1.6rem;
            }
        }
        button{
            width: 70%;
            padding: 0.6rem 0;
            background: #fff;
            border: none;
            border-radius: 0.2rem;
            font-size: 1.6rem;
            margin: 0.5rem auto;
            margin-left: 4rem;
        }
    }
    }
    .kong{
        width: 100%;
        height: 0.8rem;
        background: #eaeaea;
        margin: 1rem 0;
    }
.list2{
    display: flex;
    padding: 0.5rem;
    li{
        margin: 0 0.3rem;
    }
    li:nth-of-type(1){
        width: 0.3rem;
        height: 2rem;
        background: #39C894;
    }
    li:nth-of-type(2){
        font-size: 1.8rem;
    }
    li:nth-of-type(3){
        margin-top: 0.3rem;
        font-size: 1.4rem;
        color: #999;
    }
}
.list3{
    padding: 1rem 0.4rem;
    border-bottom: 1px solid #eaeaea; 
    clear: both;
    li{
        float: left;
        font-size: 1.7rem;
    }
    li:nth-of-type(1){
        width: 30%;
        img{
        width: 100%;
    }
    }
    li:nth-of-type(2){
        width: 69%;
        margin-left: 0.2rem;
    }
    p:nth-of-type(2){
        margin-top: 3rem;
        color: #999;
        font-size: 1.6rem;
    }
}
 .z {
     border-top: 0.7rem solid #eaeaea;
        padding: 0.5rem;
        font-size: 1.6rem;
        line-height: 2rem;
        text-indent: 2rem;
        clear: both;
    }
    .kf {
        color: #39C894;
        font-size: 1.6rem;
        text-align: center;
        span {
            color: #333;
        }
    }
    .f {
        display: flex;
        justify-content: space-around;
        font-size: 1.6rem;
        margin-top: 1rem;
        span:nth-of-type(1) {
            color: #39C894;
        }
    }
    .fan {
        position: relative;
        .iconfont {
            color: #9c9c9c;
            font-size: 5rem;
            margin-left: 5rem;
            position: absolute;
            right: 1.2rem;
            top: -4rem;
        }
    }
}

footer {
    .di{
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #000000;
        opacity: 0.8;
        div:nth-of-type(1){
            width:10%;
            img{
                width:40%;
            }
        }
        div:nth-of-type(2){
            width:60%;
            img{
                width:100%;
            }
        }
        div:nth-of-type(3){
            width:30%;
            p{
                background-color: #feb605;
                margin-top: 1rem;
                border-radius: 15px;
                margin-left: 2rem;
                color:white;
                width:60%;
                height:40%;
                line-height: 2rem;
            }
        }
    }
    .zu{
        width: 100%;
        img{
            width: 100%;
        }
    }
}